<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -XX:+UseG1GC -XX:+UseStringCache -XX:+OptimizeStringConcat -XX:+UseCompressedClassPointers -XX:+UseCompressedOops -XX:+UseStringDeduplication -jar &quot;%HOME%\site\wwwroot\springboot-redis-cosmodb-1.0.0-SNAPSHOT.jar&quot;" stdoutLogEnabled="false" startupTimeLimit="3600">
        </httpPlatform>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
</configuration>